@page
@model HighSchoolApplication.Pages.Teacher.IndexModel
@{
    ViewData["Title"] = "Teacher";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Welcome to the @ViewData["Title"] page.</p>
</div>
