@page
@model HighSchoolApplication.Pages.Student.IndexModel
@{
    ViewData["Title"] = "Student";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Welcome to the @ViewData["Title"] page.</p>
</div>
