@page
@model HighSchoolApplication.Pages.Exam.DeleteModel
@{
}
@if (Model.IsSuccess)
{
    <div class="alert alert-success">
        You succesfully deleted id @Model.Id
    </div>
    <div>
        <a class="btn btn-primary " asp-page="./Edit">Add a New Exam</a>
        <a class="btn btn-primary " asp-page="/Exam/Index">Return to Exam Page</a>
    </div>
}
else
{
    <div class="alert alert-success">
        There was an issue deleting id @Model.Id
    </div>
    <div>
        <a class="btn btn-primary " asp-page="./Edit">Add a New Exam</a>
        <a class="btn btn-primary " asp-page="/Exam/Index">Return to Exam Page</a>
    </div>
}
